
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 dark:text-gray-100 bg-gray-100 dark:bg-gray-900;
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
  }
  
  /* Fix for inputs being unreadable in light mode if specific classes are missing */
  input, textarea, select {
    @apply text-gray-900 dark:text-white placeholder-gray-400 dark:placeholder-gray-500;
  }
}
